static/teste/versionamento.txt
static/teste/tutorial_flask.txt
static/teste/tutorial_db_flask.txt
static/teste/tutorial_db_mysql.txt
static/teste/tutorial_db_lili.txt
teste_1.py
teste_2.py
model_bd.py
abas.py
static/teste/requisitos.xmi
templates/teste.html
docker_mysql/docker-compose.yml
docker_mysql/tutorial_docker.txt
docker_mysql/initdb/bd_24_08.sql

