<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Vitrine</title>
  <link rel="stylesheet" href="/static/css/vitrine.css?v=7" />
</head>
<body>
  <header class="navbar">
    <div class="wrap">
      <h1>Congelados Sim Porque Não</h1>
    </div>
  </header>

  <main class="wrap content">
    <h2>Nossos Produtos</h2>

    <section class="grid">
      <article class="card">
        <img src="/static/imagens/lasanha.jpg" alt="Lasanha de Frango" />
        <div class="info">
          <h3>Lasanha de Frango</h3>
          <p class="desc">500 g · forno 25 min</p>
          <p class="price">R$ 29,90</p>
        </div>
      </article>

      <article class="card">
        <img src="/static/imagens/empadao_frango.jpg" alt="Empadão de Frango" />
        <div class="info">
          <h3>Empadão de Frango</h3>
          <p class="desc">120 g · forno 15 min</p>
          <p class="price">R$ 12,00</p>
        </div>
      </article>

      <article class="card">
        <img src="/static/imagens/choco_morango_250.jpg" alt="Bolo de Morango" />
        <div class="info">
          <h3>Bolo de Morango</h3>
          <p class="desc">250 g · forno 10 min</p>
          <p class="price">R$ 18,50</p>
        </div>
      </article>
    </section>
  </main>
</body>
</html>
